<!-- Church Info Section -->
<section id="info">
    <div class="container my-3 text-center">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="editable">Location &amp; Service Time</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3>Sunday: <span><strong>10:30 am</strong></span><br><br> Wednesday: <span><strong>7:00 pm</strong></span></h3>
                <p class="large">
                <a target="_blank" class="editable" href="https://www.google.com/maps/place/River+Rochester/@43.2246189,-77.8906375,15z/data=!4m2!3m1!1s0x0:0xd881d75c1eba2525?sa=X&ved=0ahUKEwiAu_6klonMAhXERyYKHZDeA3YQ_BIIbTAP"><i class="fa fa-map-marker fa-2x mx-2"></i> 3723 Sweden Walker Rd. Brockport, NY 14420</a>
                </p>
                <div class="embed-responsive embed-responsive-16by9 my-3">
                    <iframe class="embed-responsive-item"src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11629.114255324164!2d-77.8906375!3d43.2246189!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd881d75c1eba2525!2sRiver+Church!5e0!3m2!1sen!2sus!4v1527937292977" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid" src="uploads/DSC00427-min.jpg" alt="Church Sign">
            </div>
        </div> -->
    </div>
</section>
