<!-- Church Info Section -->
    <section id="info">
        <div class="container text-center">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <h1 class="editable">Location &amp; Services</h1>
                    <p class="large">
                    <a target="_blank" class="editable" href="https://www.google.com/maps/place/River+Rochester/@43.2246189,-77.8906375,15z/data=!4m2!3m1!1s0x0:0xd881d75c1eba2525?sa=X&ved=0ahUKEwiAu_6klonMAhXERyYKHZDeA3YQ_BIIbTAP"><i class="fa fa-map-marker fa-3x"></i> 3723 Sweden Walker Rd. Brockport, NY 14420</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="editable">Sunday Mornings</h2>
                        <h2 class="editable"><strong>10:30 am</strong></h2>
                        <p class="large editable"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
