<!-- Church Info Section -->
<section id="info">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="editable">Location &amp; Services</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p class="large">
                <a target="_blank" class="editable" href="https://www.google.com/maps/place/River+Rochester/@43.2246189,-77.8906375,15z/data=!4m2!3m1!1s0x0:0xd881d75c1eba2525?sa=X&ved=0ahUKEwiAu_6klonMAhXERyYKHZDeA3YQ_BIIbTAP"><i class="fa fa-map-marker fa-3x"></i> 3723 Sweden Walker Rd. Brockport, NY 14420</a>
                </p>
                <h2 class="editable">Sunday Mornings</h2>
                <h2 class="editable"><strong>10:30 am</strong></h2>
                <p class="large editable"></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid" src="uploads/DSC00427-min.jpg" alt="Church Sign">
            </div>
        </div>
    </div>
</section>
