<!-- Services Section -->
<section id="encounter">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-6">
				<h1 class="editable">Encounter God 2017</h1>
				<!--<h2 class="editable"><strong>Providing a fun &amp; spiritual environment</strong></h2>
                <p class="large editable">Bring your kids every Sunday when you come to church! We guarantee your kids will feel safe and welcome, while being taught from the Word of God.</p>
                <h3 class="editable"><strong>Ages 1 - 12</strong></h3>-->
				<a href="{{ site.baseurl }}/encounter"><button type="button" class="btn btn-xl-light" name="button">Learn More</button></a>
			</div>
		</div>
	</div>
</section>