<!-- Services Section -->
<!--     <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Events</h1>
                </div>
            </div>
            <div class="row text-center"> -->
                <!--<div class="col-sm-4 col-6">
                    <img src="assets/img/events/soul-winning.jpg" alt="" />
                </div>-->
<!--               {% assign counter = 0 %}{% assign items = site.events | sort: 'date' | reverse %}{% for item in items limit: 6 %}{% if item.title != "Soul Winning" %}{% if item.title != "Coffee & Donuts" %}{% assign counter = counter | plus: 1 %}
                        <div class="col-6 col-sm-4">
                            <img src="{{ item.image | absolute_url }}" alt="" />
                        </div>{% endif %}{% endif %}{% endfor %}
              {% if counter < 5 %}
                <div class="col-6 col-sm-4">
                     <img src="uploads/flyering.jpg" alt="" />
                </div>
              {% endif %}
            </div>
        </div>
    </section> -->
