<footer>
    <div class="container my-3">
        <div class="row my-3">
            <div class="col-lg-4">
                <div>
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <ul class="list-inline quicklinks">
                    <li>Our Pastor: <a href="https://jeremiahthomas.org">Jeremiah Thomas</a>
                    </li>
                </ul>
            </div>  
            <div class="col-lg-4">
                <ul class="list-inline d-inline-flex">
                    {% for network in site.social %}
                    <li><a class="btn" href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-2x"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4">
                <ul style="padding: 0px;">
                    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}
                    <li style="list-style-type:none;"><a href="{{ p.url }}">{{ p.title }}</a></li>
                    {% endif %} {% endfor %}
                    <li style="list-style-type:none;"><a href="https://cash.me/$riverrochester">G I V E</a></li>
                </ul>
            </div> 
        </div>
    </div>
</footer>
