  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline d-inline-flex">
                      {% for network in site.social %}
                      <li><a class="btn" href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-2x"></i></a>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li>Developed by: <a href="http://jordanmoconnor.com">Jordan O'Connor</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>