<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 container-fluid text-center">
                    <h3>Subscribe to the Newsletter</h3>
                    <form action="//riverrochester.us12.list-manage.com/subscribe/post?u=1d0416f8c0b7462dd3e442271&amp;id=6ecb4d81c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-contact">
                                    <input type="text" name="EMAIL" placeholder="YOUR EMAIL" id="mce-EMAIL">
                                </div>
                                <div class="input-contact">
                                    <input type="text" name="FNAME" placeholder="YOUR FIRST NAME" id="mce-FNAME">
                                </div>
                                <div class="input-contact">
                                    <input type="text" name="LNAME" placeholder="YOUR LAST NAME" id="mce-LNAME">
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd47ccc168c795028708b2e2a_b51706ad3b" tabindex="-1" value=""></div>
                                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl-dark">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Menu</h2>
                <ul style="padding: 0px;">
                    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}
                    <li style="list-style-type:none;"><a href="{{ p.url }}">{{ p.title }}</a></li>
                    {% endif %} {% endfor %}
                </ul>
                <ul class="list-inline d-inline-flex">
                    {% for network in site.social %}
                    <li><a class="btn" href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-2x"></i></a>
                    </li>
                    {% endfor %}
                </ul>
                <div>
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <ul class="list-inline quicklinks">
                    <li>Our Pastor: <a href="http://jeremiahthomas.org">Jeremiah Thomas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
