<html lang="{{ page.lang | default: site.lang | default: " en-us " }}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/head/apple-touch-icon.png' | absolute_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/img/head/favicon-32x32.png' | absolute_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/img/head/favicon-16x16.png' | absolute_url }}" sizes="16x16">
<link rel="manifest" href="{{ '/assets/img/head/manifest.json' | absolute_url }}">
<link rel="mask-icon" href="{{ '/assets/img/head/safari-pinned-tab.svg' | absolute_url }}" color="#000000">
<link rel="shortcut icon" href="{{ '/assets/img/head/favicon.ico' | absolute_url }}">
<meta name="msapplication-config" content="{{ '/assets/img/head/browserconfig.xml' | absolute_url }}">
<meta name="theme-color" content="#000000"> 

{% seo %}

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Church",
  "name": "River Rochester",
  "description": "We are a church located in Brockport, NY that is impacting the greater Rochester area with the gospel of Jesus Christ. Come join us! We would love to have you come and be a part of what God is doing here",
  "url": "https://riverrochester.com/"
}
</script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.url}}">
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | prepend: site.url}}">
