<html lang="{{ page.lang | default: site.lang | default: " en-us " }}">
<meta charset="utf-8">
<meta name="ahrefs-site-verification" content="6d1e34e60b82f4b81b4d8572a92b399068915ef8cd1526b881cc2c7db086efc5">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/head/apple-touch-icon.png' | absolute_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/img/head/favicon-32x32.png' | absolute_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/img/head/favicon-16x16.png' | absolute_url }}" sizes="16x16">
<link rel="manifest" href="{{ '/assets/img/head/manifest.json' | absolute_url }}">
<link rel="mask-icon" href="{{ '/assets/img/head/safari-pinned-tab.svg' | absolute_url }}" color="#000000">
<link rel="shortcut icon" href="{{ '/assets/img/head/favicon.ico' | absolute_url }}">
<meta name="msapplication-config" content="{{ '/assets/img/head/browserconfig.xml' | absolute_url }}">
<meta name="theme-color" content="#ffffff">
{% seo %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '897472943784204');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=897472943784204&ev=PageView&noscript=1"
/></noscript>
