<html lang="{{ page.lang | default: site.lang | default: " en-us " }}">
<meta charset="utf-8">
<meta name="ahrefs-site-verification" content="6d1e34e60b82f4b81b4d8572a92b399068915ef8cd1526b881cc2c7db086efc5">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/head/apple-touch-icon.png' | absolute_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/img/head/favicon-32x32.png' | absolute_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/img/head/favicon-16x16.png' | absolute_url }}" sizes="16x16">
<link rel="manifest" href="{{ '/assets/img/head/manifest.json' | absolute_url }}">
<link rel="mask-icon" href="{{ '/assets/img/head/safari-pinned-tab.svg' | absolute_url }}" color="#000000">
<link rel="shortcut icon" href="{{ '/assets/img/head/favicon.ico' | absolute_url }}">
<meta name="msapplication-config" content="{{ '/assets/img/head/browserconfig.xml' | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<title>River Church | Brockport NY</title>
<meta property="og:title" content="River Church" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="Brockport NY" />
<meta property="og:description" content="Brockport NY" />
<link rel="canonical" href="https://riverrochester.com/" />
<meta property="og:url" content="https://riverrochester.com/" />
<meta property="og:site_name" content="River Church" />
<meta property="og:image" content="https://riverrochester.com/uploads/RIVERxchurch-1.jpg" />
<meta property="og:type" content="website" />
<script type='application/ld+json'>
{
    "@context": "http://schema.org/",
    "@type": "Church",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "USA",
        "addressLocality": "Brockport",
        "addressRegion": "NY",
        "postalCode": "80209",
        "postalCode": "14420",
        "streetAddress": "3723 Sweden Walker Rd",
        "email": "contact@riverrochester.com",
        "telephone": "5854840026"
    },
    "image":"https://riverrochester.com/uploads/RIVERxchurch-1.jpg",
    "url":"https://riverrochester.com/",
    "hasMap": "https://www.google.com/maps/place/River+Rochester/@43.2246189,-77.8906375,15z/data=!4m2!3m1!1s0x0:0xd881d75c1eba2525?sa=X&ved=0ahUKEwiAu_6klonMAhXERyYKHZDeA3YQ_BIIbTAP",
    "map": "https://www.google.com/maps/place/River+Rochester/@43.2246189,-77.8906375,15z/data=!4m2!3m1!1s0x0:0xd881d75c1eba2525?sa=X&ved=0ahUKEwiAu_6klonMAhXERyYKHZDeA3YQ_BIIbTAP",
    "maps": "https://www.google.com/maps/place/River+Rochester/@43.2246189,-77.8906375,15z/data=!4m2!3m1!1s0x0:0xd881d75c1eba2525?sa=X&ved=0ahUKEwiAu_6klonMAhXERyYKHZDeA3YQ_BIIbTAP",
    "telephone": "(585) 484-0026",
    "description": "Brockport NY",
    "mainEntityOfPage": "https://riverrochester.com",
    "name": "River Church"
}
</script>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
