<!-- Services Section -->
    <section id="help">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6">
                <h1 class="editable">Ministries of Helps</h1>
                <!--<h2 class="editable"><strong>Get Involved with What God is Doing here</strong></h2>-->
                <p class="large editable">Our team is always growing and rising to new challenges. If you have a heart to
                serve the Lord with your talents and are committed to serving in excelence, contact us today!</p>
                <a href="{{ site.baseurl }}/getinvolved"><button type="button" class="btn btn-xl-light" name="button">Get Involved</button></a>
                </div>
            </div>
        </div>
    </section>
