<!-- Services Section -->
    <section id="media">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 text-center">
                    <h1 class="section-heading">River Media</h1>
                    <p class="large">"Faith comes by hearing, and hearing by the word of God."<br /><strong>Romans 10:17</strong></p>
                    <p class="large">Hear every word spoken from our pulpit.</p>
                    <a href="{{ 'media/' | absolute_url }}"><button type="button" class="btn btn-xl-dark">View All Media</button></a>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h1>Latest Media</h1>
              </div>
            </div>
            <div class="row">
              {% assign items = site.sermons | sort: 'date' | reverse %}
              {% for item in items  limit:3 %}
              <div class="col-md-4">
                <div class="card">
                  {% if item.video_id[0] != "none" %}
                  <div class="thumb-crop">
                    <a href="{{ item.url | prepend: site.baseurl }}"><img class="card-img-top" src="https://img.youtube.com/vi/{{ item.video_id[0] }}/sddefault.jpg" alt="{{ item.title }}" /></a>
                  </div>
                  {% else %}
                  <div class="thumb-crop">
                    <a href="{{ item.url | prepend: site.baseurl }}"><img class="card-img-top" src="{{ item.image }}" alt="{{ item.title }}" /></a>
                  </div>
                  {% endif %}
                  <div class="card-block">
                    <h4 class="card-text"><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></h4>
                    <span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </section>
