<!-- Moving Section -->
<div class="container-fluid">
    <div class="row justify-content-center mb-5">
        <div class="col-lg text-center">
            <img class="moving" style="max-width:100%" src="{{ '/uploads/moving.png' | absolute_url }}" alt="" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-lg-10 text-center">
            <h2 class="section-heading editable">Moving in July, 2019</h2>
            <p class="large editable">
                We are incredibly excited to announce that we have purchased a new church building! The address is <a href="https://www.google.com/maps/place/101+Kenyon+St,+Brockport,+NY+14420/@43.2094164,-77.9473994,17z/data=!3m1!4b1!4m5!3m4!1s0x89d401c21dde2afd:0xbd8dcc2cb5792546!8m2!3d43.2094164!4d-77.9452107">101 Kenyon St. Brockport NY 14420</a>.<br><br>For more information, or if you'd like to help out, you can <a href="mailto:moving@riverbrockport.com">send us an email</a>.
            </p>
        </div>
    </div>
</div>
