<!-- Team Section -->
    <section id="pastors">
        <div class="container text-center">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-6">
                <h1 class="editable"><strong>Meet Our Pastors</strong></h1>
                <h2 class="editable">Jeremiah & Julia Thomas</h2>
                <hr>
                <button type="button" class="btn btn-xl-light"  data-toggle="modal" data-target="#myModal" name="button">Follow Them</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title editable">Social Media</h4>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid text-center">
                          <div class="col-xs-6">
                            <h4><strong>Jeremiah</strong></h4>
                            <ul id="pastor-social">
                              <li><a href="https://www.instagram.com/jeremiahthomas88/"><h4>Instagram</h4><i class="fa fa-instagram fa-3x"></i></a></li>
                              <li><a href="https://www.facebook.com/Jeremiah88/"><h4>Facebook</h4><i class="fa fa-facebook fa-3x"></i></a></li>
                              <li><a href="mailto:jeremiah@riverrochester.com"><h4>Email</h4><i class="fa fa-envelope fa-3x"></i></a></li>
                            </ul>
                          </div>
                          <div class="col-xs-6">
                            <h4><strong>Julia</strong></h4>
                            <ul id="pastor-social">
                              <li><a href="https://www.instagram.com/mrsjuliathomas/"><h4>Instagram</h4><i class="fa fa-instagram fa-3x"></i></a></li>
                              <li><a href="https://www.facebook.com/juliathomas626/"><h4>Facebook</h4><i class="fa fa-facebook fa-3x"></i></a></li>
                              <li><a href="mailto:julia@riverrochester.com"><h4>Email</h4><i class="fa fa-envelope fa-3x"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-xl-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
