<!-- Services Section -->
    <section id="revival">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-sm-offset-6">
                <h1 class="editable">Winter Revival 2017</h1>
                <!--<h2 class="editable"><strong>Providing a fun &amp; spiritual environment</strong></h2>-->
                <p class="large editable"></p>
                <h3 class="editable"><strong>January 13th - 15th</strong></h3>
                <h3 class="editable"><strong>Evenings @ 7PM</strong></h3>
                <a href="{{ site.baseurl }}/winter-revival-2017"><button type="button" class="btn btn-xl-light" name="button">Learn More</button></a>
                </div>
            </div>
        </div>
    </section>
