---
title: Sermons
layout: page
header-image: "/assets/img/sermons-bg.jpg"
image: "/assets/img/sermons-text-bg.jpg"
permalink: /sermons/
navigation_weight: 4
---

<div class="row justify-content-center">
  <div class="col-md-10 text-center">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="row justify-content-center text-center">
  <div class="col-md-10">
    <p>
      You can find our sermons on our YouTube channel.
    </p>
    <div>
      <ul class="list-inline d-inline-flex text-center">
        <li>Click here: <a class="btn" href="https://youtube.com/channel/UC4Fq1AHEsxanWWibB0lPZ8A/"><i
              class="fa fa-youtube-play fa-3x"></i></a> </li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="row justify-content-center">
  <div class="col-md-10 text-center">
    <p>You can find our sermons on your favorite podcast app by searching "River Church" and looking for our logo.</p>
    <a class="btn btn-xl-dark my-3" href="https://geo.itunes.apple.com/us/podcast/river-rochester/id1182211082?mt=2">iTunes</a>
    <a class="btn btn-xl-dark my-3" href="http://www.stitcher.com/podcast/river-rochester"> Stitcher</a>
    <a class="btn btn-xl-dark my-3" href="http://pca.st/dIb4"> Pocket Casts</a>
    <a class="btn btn-xl-dark my-3" href="https://overcast.fm/itunes1182211082/river-rochester"> Overcast</a>
    <a class="btn btn-xl-dark my-3" href="https://goo.gl/app/playmusic?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ijbddmopd735kwqpa5reingncou?t%3DRiver_Rochester"> Google Play</a>
  </div>
</div>
<div class="row justify-content-center my-3">
{% assign items = site.sermons | sort: 'date' | reverse %}
{% for item in items limit:6 %}
<div class="col-md-4">
    <div class="card">
      <div class="card-block mx-3 my-3">
        <h4 class="card-text"><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></h4>
        <span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
      </div>
    </div>
</div>
{% endfor %}
</div>
<div class="row justify-content-center">
{% assign postsByYearMonth = site.sermons | group_by_exp:"sermon", "sermon.date | date: '%B %Y'"  %}
{% for yearMonth in postsByYearMonth reversed %}
<div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <ul style="list-style: none">
          <h2>{{ yearMonth.name }}</h2>
          {% for sermon in yearMonth.items reversed%}
            <li><p class="large"><a href="{{ sermon.url }}">{{ sermon.title }}</a></p></li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endfor %}
</div> -->