---
layout: post
---

<!-- Post Header -->
<div class="intro-header" style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}')">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <br /><span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span><br />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                {{ content }}
                <hr>
                {% include comments.html %}
            </div>
        </div>
    </div>
</article>