---
layout: compress
---

<!DOCTYPE html>
<html>
    <head>
        {% include head-index.html %}
    </head>
    <body id="page-top" class="index">
        {% include nav.html %}    
        {% include header.html %}   
        {% include about.html %}
        {% include pastors.html %}
        {% include church_info.html %}
        {% include events.html %}
        {% include give.html %}
        {% include media.html %}
        {% include instagram.html %}
        {% include river-merch.html %}
        {% include kids.html %}
        {% include help.html %}
        {% include contact.html %}
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
