---
layout: compress
---

<!DOCTYPE html>
<html>
    <head>
        {% include head-index.html %}
    </head>
    <body id="page-top" class="index">
        {% include nav.html %}    
        {% include header.html %}   
        {% include about.html %}
        <div class="container-fluid">
            <img src="{{ '/uploads/encounter-2018.jpg' | absolute_url }}" width=100% alt="">
        </div>
        {% include pastors.html %}
        {% include church_info.html %}
        {% include events.html %}
        {% include give.html %}
        {% include media.html %}
        {% include river-merch.html %}
        {% include kids.html %}
        {% include help.html %}
        {% include contact.html %}
        {% include footer.html %}
    </body>
    {% include js.html %}
</html>
